---
pagination:
  data: rickandmorty
  size: 1
  alias: character
  addAllPagesToCollections: true
permalink: /characters/{{ character.name | slug }}/
tags: characters
---
{{ character.name }}

<img alt="{{ character.name }}" src="{{ character.image }}" />